version: "3.7"
services:
  api_service:
    build: ./backend/
    restart: always
    ports:
      - 8081:8080
    environment:
      - MONGO_URL=mongodb://db:27017/app_development
    depends_on:
      - db
  client:
    build: ./frontend/
    restart: always
    ports: 
      - 80:80
    depends_on:
      - api_service
  db:
    image: "mongo:4.4.3"
    restart: always
    ports:
      - 27017:27017
