version: "3.7"
services:
  api_service:
    build: .
    restart: always
    ports:
      - 8080:8080
    environment:
      - MONGO_URL=mongodb://db:27017/app_development
    depends_on:
      - db
  db:
    image: "mongo:4.4.3"
    restart: always
    ports:
      - 27017:27017